@use "../utils/mixins";
@use "../utils/variables";

/*============================
  32.breadcrumb
============================*/

.breadcrumb-bar {
    padding: 150px 0 40px;
    position: relative;
    z-index: 1;
    .breadcrumb-title {
        font-size: variables.$font-size-36;
        color: variables.$white;
        @include mixins.respond-below(lg) {
            font-size: variables.$font-size-26;
        }
        @include mixins.respond-below(md) {
            font-size: variables.$font-size-22;
        }
    }
    &::before {
        position: absolute;
        left: 0;
        bottom: 0;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(95.36deg, rgba(0, 0, 0, 0.8) 13.15%, rgba(0, 0, 0, 0.5) 78.27%);
        z-index: -1;
    }
    @include mixins.respond-below(md) {
        padding: 90px 0 30px;
    }
}
.breadcrumb {
    .breadcrumb-item {
        color: variables.$light;
        a {
            color: variables.$white;
            &:hover {
                color: variables.$primary;
            }
        }
        & +.breadcrumb-item {
            &:before {
                content: "\f054";
                font-family: 'fontawesome';
                line-height: 2;
                font-size: variables.$font-size-12;
                color: variables.$light;
            }
        }
        &.active {
            color: variables.$light;
        }
    }
}
.breadcrumb-bg-01 {
    background: url('../img/bg/breadcrumb.jpg') no-repeat;
    background-size: cover;
}
.breadcrumb-bg-02 {
    background: url('../img/bg/breadcrumb-02.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.breadcrumb-bg-03{
    background: url('../img/bg/breadcrumb-03.jpg') no-repeat;
    background-size: cover;
}
.breadcrumb-bg-04{
    background-color: variables.$gray-900;
}
.breadcrumb-bg-05{
    background: url('../img/bg/breadcrumb-05.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.breadcrumb-bg-06{
    background: url('../img/bg/breadcrumb-04.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.breadcrumb-bg-07{
    background: url('../img/bg/breadcrumb-06.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}